{% extends "layout/base.html.twig" %}

{% block title %}Kizami - 404 Not Found{% endblock %}

{% block body %}
    <h1>404 Not Found</h1>
    <p>お探しのページは見つかりませんでした。</p>
    <p><a href="/" role="button" class="secondary">ホームへ戻る</a></p>
{% endblock %}
