{% extends "layout/base.html.twig" %}

{% block title %}Kizami - Application Error{% endblock %}

{% block body %}
    <h1>Application Error</h1>
    <p>予期しないエラーが発生しました。時間をおいて再度お試しください。</p>
    <p><a href="/" role="button" class="secondary">ホームへ戻る</a></p>
{% endblock %}
