name: Deploy

on:
  workflow_run:
    workflows: ["CI"]
    types: [completed]

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event.workflow_run.head_branch == 'main' }}
    env:
      TAR_NAME: "kizami_${{ github.run_number }}.tar.gz"
      SHELL_DEST_PATH: "~/deploy_${{ github.run_number }}.sh"
      DEPLOY_TARGET_PATH: ${{ secrets.DEPLOY_TARGET_PATH }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.workflow_run.head_sha }}
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.SECRET_KEY }}
          name: id_rsa-target
          known_hosts: ${{ secrets.SSH_KNOWN_HOSTS }}
          config: |
            Host *
              StrictHostKeyChecking no
              UserKnownHostsFile=/dev/null
            Host target
              HostName ${{ secrets.SSH_HOST }}
              User ${{ secrets.SSH_USER }}
              Port ${{ secrets.SSH_PORT }}
              IdentityFile ~/.ssh/id_rsa-target
      - name: Transfer modules
        run: |
          tar czf ~/${TAR_NAME} app/ bin/ config/ migrations/ public/ src/ templates/ composer.json composer.lock
          scp -r ~/${TAR_NAME} target:~/
          scp ./scripts/deploy.sh target:${SHELL_DEST_PATH}
      - name: Deploy modules
        run: |
          if [ -z "${DEPLOY_TARGET_PATH}" ]; then
            echo "DEPLOY_TARGET_PATH is not set"
            exit 1
          fi
          ssh target "${SHELL_DEST_PATH} ${TAR_NAME} kizami '${DEPLOY_TARGET_PATH}' && rm -f ${SHELL_DEST_PATH}"

  notify:
    if: ${{ always() && needs.deploy.result != 'skipped' }}
    needs:
      - deploy
    runs-on: ubuntu-latest
    steps:
      - name: Notify to Slack
        uses: 8398a7/action-slack@v3
        with:
          status: ${{ needs.deploy.result }}
          author_name: GitHub Actions
          fields: repo,message,ref
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
